<style>
table, th, td {
  border: 1px solid black;
}
</style>
<div style="color:blue;text-align:center">
    <h2 style="color:blue;text-align:center">Welcome {{msg3}} </h2>
    <form [formGroup]="loginRef" (ngSubmit)="checkUser()">
        <label>Contact Name</label>
        <input type="text" formControlName="cname"/><br/>
        <label>Phone Number</label>
        <input type="number" formControlName="num"/><br/>
        <input type="submit" value="SAVE"/><br/>
    </form>
    <h2 style="color:blue;text-align:center">Contact Details</h2>
    <table>
       <thead>
           <tr>
               <th>Name:</th>
               <th>Phone number:</th>
           </tr>
           <tr>
               <td>{{msg1}}</td>
               <td>{{msg2}}</td>
           </tr>
       </thead>
       <tbody>

       </tbody>
    </table>
</div>
