<div style="color:blue;text-align:center">
    <h2 style="color:blue;text-align:center">Registration Form</h2>
    <form [formGroup]="loginRef" (ngSubmit)="checkUser()">
        <label>First Name</label>
        <input type="text" formControlName="fname"/><br/>
        <label>Last Name</label>
        <input type="text" formControlName="lname"/><br/>
        <label>UserName</label>
        <input type="text" formControlName="user"/><br/>
        <label>Password</label>
        <input type="password" formControlName="pass"/><br/>
        <input type="submit" value="Register"/>
        <input type="reset" value="Reset"/><br/>
    </form>
   {{msg}}
</div>
