<div class="myclass">
  <h1>TO-DO-TASKS</h1>
  <form #empRef="ngForm" (ngSubmit)="storeTask(empRef.value)">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput type="text" name="id" ngModel/>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" ngModel/>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Task</mat-label>
      <input matInput type="text" name="task" ngModel/>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput type="text" name="datee" ngModel/>
    </mat-form-field>
    <br/>
    <button mat-stroked-button color="primary" style="background-color:darkorange;" type="submit">Store</button>
     &nbsp;
     &nbsp;
    <button mat-stroked-button color="accent" style="background-color:darkorange;" type="submit">Reset</button>
  </form>
  <h1>TO-DO-LIST</h1>
  <table border="3" class="center">
       <tr style="background-color:blue; color:white">
            <th>EmpId</th>
            <th>Name</th>
            <th>Task</th>
            <th>Deadline</th>
        </tr>
        <tr *ngFor="let emp of tasklist">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.task}}</td>
            <td>{{emp.datee}}</td>
        </tr>
</table>
</div>
