<div class="myclass">
  <div class="container p-5">
  <h2>ANGULAR QUIZ</h2>
  <div class="row">
    <div class="col-sm-8 offset-2">

  <ul class="list-group" *ngFor="let emp of employees">
              <label>
                <br/>
            <div>
              {{emp.ques}}
            </div>
              <li class="list-group-item"><input type="radio" value="{{emp.option1}}" (click)="onAnswer(emp.option1,emp.answer,emp.ques)" name={{emp.ques}} />{{emp.option1}}</li>
              <li class="list-group-item"><input type="radio" value="{{emp.option2}}" (click)="onAnswer(emp.option2,emp.answer,emp.ques)" name={{emp.ques}} />{{emp.option2}}</li>
              <li class="list-group-item"><input type="radio" value="{{emp.option3}}" (click)="onAnswer(emp.option3,emp.answer,emp.ques)" name={{emp.ques}} />{{emp.option3}}</li>
              <li class="list-group-item"><input type="radio" value="{{emp.option4}}" (click)="onAnswer(emp.option4,emp.answer,emp.ques)" name={{emp.ques}} />{{emp.option4}}</li>
              </label>
  </ul>
  <button class="btn btn-success btn-block" (click)="showResult()">SHOW RESULT</button>
  <div *ngIf="result">
    Final Score: {{correctAnswers}}/8 |
    correctAnswers: {{correctAnswers}} | IncorrectAnswers: {{incorrectAnswers}}

    <p *ngFor="let q of qns">
                  {{q}}
          </p>
  </div>
  </div>
  </div>
  </div>
</div>
